<!DOCTYPE html>
<html lang="en">
<head>
    <title>Resultados de Pruebas</title>
    {% include 'head.html' %}
</head>

<body>
    {% include 'navbar.html' %}
    <h1>Resultados de Pruebas</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Letra 1</th>
                <th>Tiempo 1</th>
                <th>Letra 2</th>
                <th>Tiempo 2</th>
                <th>Letra 3</th>
                <th>Tiempo 3</th>
                <th>Letra 4</th>
                <th>Tiempo 4</th>
                <th>Letra 5</th>
                <th>Tiempo 5</th>
                <th>Promedio</th>
            </tr>
        </thead>
        <tbody>
            {% for datos in datos_combinados %}
            <tr>
                <td>{{ datos.nombre }}</td>
                <td>{{ datos.letra_1 }}</td>
                <td>{{ datos.tiempo_1 }}</td>
                <td>{{ datos.letra_2 }}</td>
                <td>{{ datos.tiempo_2 }}</td>
                <td>{{ datos.letra_3 }}</td>
                <td>{{ datos.tiempo_3 }}</td>
                <td>{{ datos.letra_4 }}</td>
                <td>{{ datos.tiempo_4 }}</td>
                <td>{{ datos.letra_5 }}</td>
                <td>{{ datos.tiempo_5 }}</td>
                <td><b>{{ datos.promedio }}</b></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    {% include 'footer.html' %}
</body>

</html>
